* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: inherit;
  color: #132f48;
}

.hidden {
  color: transparent;
  visibility: hidden;
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}

.bring-up {
  position: absolute;
  top: 0;
  z-index: 999;
  overflow: hidden;
}

header {
  height: 100vh;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(19, 47, 72, 0.2)), color-stop(rgba(62, 84, 107, 0.2)), color-stop(rgba(105, 124, 144, 0.2)), color-stop(rgba(150, 167, 183, 0.2)), to(rgba(197, 211, 224, 0.2))), url("../img/bg2.jpg");
  background-image: linear-gradient(to left top, rgba(19, 47, 72, 0.2), rgba(62, 84, 107, 0.2), rgba(105, 124, 144, 0.2), rgba(150, 167, 183, 0.2), rgba(197, 211, 224, 0.2)), url("../img/bg2.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main {
  width: 100%;
}

.main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  margin-left: 2rem;
}

.main .logo i {
  font-size: 350%;
}

.main .nav {
  width: 100%;
}

.main .nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2rem;
}

.main .nav ul li {
  list-style: none;
  text-transform: uppercase;
  margin-right: 4rem;
  font-size: 200%;
  font-weight: 100;
}

.main__header {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  position: relative;
  height: 100%;
}

.main__content .primary-heading {
  font-family: 'Condiment', cursive;
  font-size: 900%;
  position: absolute;
  top: 20%;
  left: 10%;
  display: inline-block;
  width: 100%;
  background-image: url(../img/bg2.jpg);
  background-size: 50%;
  background-position: bottom;
  -webkit-background-clip: text;
  color: transparent;
}

.main__content .secondary-heading {
  position: absolute;
  top: 36%;
  left: 26rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 200;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .box-1 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(19, 47, 72, 0.7)), color-stop(rgba(62, 84, 107, 0.7)), color-stop(rgba(105, 124, 144, 0.7)), color-stop(rgba(150, 167, 183, 0.7)), to(rgba(197, 211, 224, 0.7))), url(../img/hunting.jpg);
  background-image: linear-gradient(to right top, rgba(19, 47, 72, 0.7), rgba(62, 84, 107, 0.7), rgba(105, 124, 144, 0.7), rgba(150, 167, 183, 0.7), rgba(197, 211, 224, 0.7)), url(../img/hunting.jpg);
}

.cards .box-2 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(19, 47, 72, 0.7)), color-stop(rgba(62, 84, 107, 0.7)), color-stop(rgba(105, 124, 144, 0.7)), color-stop(rgba(150, 167, 183, 0.7)), to(rgba(197, 211, 224, 0.7))), url(../img/camp.jpg);
  background-image: linear-gradient(to right top, rgba(19, 47, 72, 0.7), rgba(62, 84, 107, 0.7), rgba(105, 124, 144, 0.7), rgba(150, 167, 183, 0.7), rgba(197, 211, 224, 0.7)), url(../img/camp.jpg);
}

.cards .box-3 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(19, 47, 72, 0.7)), color-stop(rgba(62, 84, 107, 0.7)), color-stop(rgba(105, 124, 144, 0.7)), color-stop(rgba(150, 167, 183, 0.7)), to(rgba(197, 211, 224, 0.7))), url(../img/clim.jpg);
  background-image: linear-gradient(to right top, rgba(19, 47, 72, 0.7), rgba(62, 84, 107, 0.7), rgba(105, 124, 144, 0.7), rgba(150, 167, 183, 0.7), rgba(197, 211, 224, 0.7)), url(../img/clim.jpg);
}

.cards .box {
  height: 35rem;
  width: 25rem;
  background-size: 200%;
  background-position: bottom;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.cards .box:not(:last-child) {
  margin-right: 6rem;
}

.cards .box .content {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards .box .content i {
  font-size: 6rem;
  display: inline-block;
  margin-top: 4rem;
  opacity: .9;
}

.cards .box .content h2 {
  font-family: 'Condiment', cursive;
  font-size: 3rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  opacity: .9;
}

.cards .box .btn {
  height: 15%;
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .box .btn a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 1rem;
}

.cards .box .btn .icon {
  height: 100%;
  width: 5rem;
  background-color: #bdc3c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .box .btn .icon i {
  font-size: 2rem;
  opacity: .9;
}

.section-cards {
  height: 100vh;
  background-image: url(../img/bg2.jpg);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */